<section class="row">
    <h3 class="pad-10">Top Rated Movies</h3>
    <div class="span12">
        <div class="col-sm-5"> Title </div>
        <div class="col-sm-5"> Description  </div>
    </div>
</section>
<section>   
    <div class="span12">
        <ul id="movie-list" class="form list list-unstyled">
            <li class="row" template="ng-for #movie of movies; #i = index">
                <div class="col-sm-12" (click)="getDetails($event, movie.id)">
                    <div class="col-sm-11">
                        <div class="title"> {{movie.title}}   </div>
                        <div class="desc"> {{movie.description}}   </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
