<div class="col-sm-12">
    <h3>{{movie.title}}</h3>
</div>
<section class="panel panel-default">
    <div class="col-sm-10">
        <div class="col-sm-6"><label> Description: </label>{{movie.description}}</div>
        <div class="col-sm-6"><label> Rating: </label>{{movie.rating}}</div>
    </div>
    <div class="col-sm-10">
        <div class="col-sm-6"><label> Release Year: </label>{{movie.year}}</div>
        <div class="col-sm-6"><label> Box Collection: </label>{{movie.collection}}</div>
    </div>
</section>
<section class="panel panel-default col-sm-12 top-10">
    <div><label>User Reviews</label></div>
    <div class="col-sm-12">
        <div class="col-sm-5"> Title </div>
        <div class="col-sm-5"> Description  </div>
    </div>
    <div>
        <ul id="review-list" class="form list list-unstyled">
            <li class="row" template="ng-for #review of movie.reviews; #i = index">
                <div class="col-sm-12">
                    <div class=" col-sm-10">
                        <div class="title">{{review.title}}   </div>
                        <div class="desc"> {{review.description}}   </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>
