
<section class="panel menu col-sm-12">
    <div class="col-sm-2">
        <label class="lblsortKey">Sort Movies by:</label>
    </div>
    <div class="col-sm-8">
        <ul id="menu-list" class="form menu-list list-inline list-unstyled">
            <li template="ng-for #menu of menus; #i = index">
                <a (click)="getByFilters(menu.sortKey, menu.order)">{{menu.description}}</a>
            </li>
        </ul>
    </div>
</section>
<section class="row">
    <div class="col-sm-12">
        <div class="col-sm-5"> Title </div>
        <div class="col-sm-5"> Description  </div>
    </div>
</section>
<section class="panel panel-default">
    <ul id="movie-list" class="form list list-unstyled">
        <li class="row" template="ng-for #movie of movies; #i = index">
            <div class="col-sm-12">
                <div class=" col-sm-10">
                    <div class="title"> {{movie.title}}   </div>
                    <div class="desc"> {{movie.description}}   </div>
                </div>
                <div class=" col-sm-2">
                    <a href="movies/details/{{movie.id}}">View Details</a>
                </div>
            </div>
        </li>
    </ul>
</section>
